{% extends "./base.html" %}

{% block content %}
    <form action="/start/" method="post" target="dummyframe">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Start a Pipeline">
    <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
    </form>

    <form action="/test/" method="post" target="dummyframe">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="test">
    <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
    </form>
{% endblock %}
